*{
  margin: 0;
  padding: 0
}

body{
  font-family: 'Roboto', Arial,  monospace;
  font-size: 16px;
}

.btn-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-info>a:last-child{
  margin-right: 12px;
  font-weight: 600;
  
}


.btn-info>a{
  background-color: rgb(144, 144, 144);
  padding: 12px;
  text-decoration: none;
  color: black;
}

.logo a img{
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-top: 0px;
}

/* .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.info h3{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #303C6C;
}
